// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Bar Buddy
$bb-primary: #A64DFF;
$bb-background: #E1F6FF;
$bb-txt-black-primary: rgba(0, 0, 0, 0.8);
$bb-txt-black-secondary: rgba(0, 0, 0, 0.5);
$bb-txt-black-tertiary: rgba(0, 0, 0, 0.3);
$bb-txt-white-primary: rgb(255, 255, 255);
$bb-txt-white-secondary: rgba(255, 255, 255, 0.5);
$bb-txt-white-tertiary: rgba(255, 255, 255, 0.2);
$bb-accept: #0EE056;
$bb-reject: #F76767;
$bb-white: white;
