// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

// Define fonts for body and headers
$body-font: "Space Grotesk", "Helvetica", "sans-serif";
$headers-font: "Space Grotesk", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Favorit Regular";
//   src: font-url('app/assets/fonts/ABCFavorit-Regular-Trial.woff');
//   // src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//   //      font-url('app/assets/fonts/ABCFavorit-Regular-Trial.woff') format('woff'),
//   //      font-url('FontFile.ttf') format('truetype')
// }

// @font-face {
//   font-family: "Favorit Bold";
//   src: font-url('app/assets/fonts/ABCFavorit-Bold-Trial.woff');
//   // src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//   //      font-url('app/assets/fonts/ABCFavorit-Regular-Trial.woff') format('woff'),
//   //      font-url('FontFile.ttf') format('truetype')
// }

// @font-face {
//   font-family: "Favorit Extrabold";
//   src: font-url('app/assets/fonts/ABCFavorit-Extrabold-Trial.woff');
//   // src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//   //      font-url('app/assets/fonts/ABCFavorit-Regular-Trial.woff') format('woff'),
//   //      font-url('FontFile.ttf') format('truetype')
// }

$my-font: "Space Grotesk", "Helvetica", "sans-serif";;
