<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Winning Bar Announcement</title>
</head>
<body>
    <p>Hi <%= @user.first_name %>, </p>
    <p>Please click <a href="<%= @verdict_page_url %>">here</a> to see the winning bar. </p>
    <p>We hope you have a great time,</p>
    <p>The Bar Buddy Team</p>
</body>
</html>
