.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  height: 100vh;

  .intro {
    text-align: center;
  }

  .hi-five-emoji {
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 8px;
  }
}

.user-vote-status {
  display: flex;
  align-items: center;
  gap: 16px;
}
