.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;

  .intro {
    text-align: center;
  }

  .hi-five-emoji {
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 8px;
  }

  .btn-secondary {
    width: 100%;
  }

  .user-vote-status-container {
    padding: 16px 16px 0 16px;
  }
}

.user-vote-status {
  display: flex;
  align-items: center;
  gap: 16px;
}
