.dashboard {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  gap: 24px;

  .greeting {
    display: flex;
    align-items: center;
  }

  .hi-emoji {
    font-size: 56px;
    line-height: 56px;
    padding-right: 16px;
  }
}

.group-container {
  .group-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  h5 {
    margin: 0;
  }
}

// Consider moving group-card to a /components, and giving it a generic name\
.group-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff; /* White background */
  border: 1px solid #ffffff; /* White border */
  border-radius: 8px; /* Slightly rounded corners */
  text-decoration: none;
  padding: 16px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  p {
    color: $bb-txt-black-primary;
  }

  i {
    margin-left: 8px;
  }

  .fa-check {
    color: $bb-accept;
  }

  .fa-clock {
    color: $bb-pending
  }

  .fa-chevron-right {
    color: $bb-txt-black-secondary;
  }

  .fa-trophy {
    color: $bb-accept;
  }
}
