.onboarding {
  .btn-secondary {
    width: 100%;
  }

  .type-of-place {
    margin-top: 24px;
  }
}

.list {
  padding-top: 8px;

  ul {
    padding: 0;
  }

  ul li {
    font-size: 18px;
    list-style: none;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
  }
}

.next-btn {
  width: 100%;
}
