 <div>
  <% if @all_votes_complete %>
    <%= link_to "See The Winning Bar", verdict_group_path(@group), class: "btn btn-secondary" %>
  <% else %>
    <%= link_to "Go to Dashboard", dashboard_path, class: "btn btn-secondary" %>
  <% end %>
</div>
