<h2>Active Groups</h2>
<% if @active_groups.any? %>
  <div class="row">
    <% @active_groups.each do |group| %>
      <div class="col-md-4 mb-4">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to group.title, group_path(group) %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No active groups at the moment.</p>
<% end %>

<h2>Past Groups</h2>
<% if @past_groups.any? %>
  <div class="row">
    <% @past_groups.each do |group| %>
      <div class="col-md-4 mb-4">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to group.title, group_path(group) %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No past groups available.</p>
<% end %>
