<div class="main-content homepage-content">
  <h1>Bar Buddy</h1>
  <p>for indecisive humans</p>
  <%= link_to "Get started", new_group_path, class: "btn btn-primary" %>
</div>

<!-- Consider adding link to dashboard on navbar instead
<%= link_to "Dashboard", "dashboard" %>
-->

<!-- Add login button here -->

<!-- remove this username input
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
-->
