<%= render "shared/navbar" %>
<div class="main-content homepage-content">
  <h1>Bar Buddy</h1>
  <h5>for indecisive humans</h5>
  <%= link_to "Get started", new_group_path, class: "btn btn-primary" %>
</div>
