<div class="homepage-content">
    <div class="header bb-logo">
      <%# <p>BB</p> %>
      <%= image_tag"https://res.cloudinary.com/dmvbynqto/image/upload/v1710755326/bb_logo_lipyr9.svg", alt: "Logo of Bar Buddy" %>
      <% if user_signed_in? %>
        <%= link_to "Dashboard", dashboard_path, class: "btn btn-outline" %>
      <% end %>
    </div>
    <h1>Bar Buddy</h1>
    <h4>for indecisive humans</h4>
    <%= link_to "Get started", new_group_path, class: "btn btn-secondary" %>
    <!--<%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1710554494/bb-stack-homepage_2_uh9qjo.svg", alt: "Bar buddy vote cards", class: "stack"%>-->

    <dotlottie-player
      class= "stack"
      src="https://lottie.host/2afe8a14-4304-405d-8b4d-233e35357936/5b2fdVg36k.lottie"
      background="transparent" speed="1"
      loop autoplay>
    </dotlottie-player>
</div>
