.swiper-container {
  width: 84%;

  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // height: 75vh;
    gap: 12px;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    padding: 24px 16px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .rating-in-int {
    color: $bb-txt-black-secondary;
  }

  .voting-buttons {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
  }

  h4 {
    text-align: center;
  }
}

.address {
  max-width: 100%; // Adjust the width as needed
  overflow: hidden;
  text-overflow: ellipsis; // Keep address in one line
  white-space: nowrap; // Prevent line breaks
  color: $bb-txt-black-secondary;
  text-align: center;
}


.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  i {
    color: $bb-txt-black-tertiary;
  }
}

.description {
  // display: flex;
  // flex-direction: column;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-inner {
  border-radius: 8px;
}

.bar-info-block {
  padding: 8px 0 24px 0;
}
