.bar-card-container {
  margin: 24px;
  padding: 16px;
  background-color: white;
  border-radius: 8px;

  h4 {
    margin-bottom: 16px;
  }

  .voting-buttons {
    display: flex;
  }
}

.thumbnail-container {
  width: 100%;
  height: 300px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

// Move this class styling to pages _preselected. Leaving this here temporarily.
.summary {
  text-align: center;
  margin-top: 32px;
}
