.btn-primary {
  color: $bb-white;
}

.btn-primary:hover {
  color: $bb-white;
}

.btn-primary:active {
  color: $bb-white;
}

// BB specific buttons
.bb-btn-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
}
