.btn {
  font-size: 16px;
  text-transform: uppercase;
}

.btn-primary {
  color: $bb-white;
}

.btn-primary:hover {
  color: $bb-white;
}

.btn-primary:active {
  color: $bb-white;
}

.btn-secondary {
  border: 1px solid $bb-primary;
  background-color: rgba(255, 255, 255, 0);
  color: $bb-primary;
}

// BB specific buttons
.bb-btn-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
}
